{% extends 'mainapp/base.html' %}

{% load static %}

{% block title %}S1 Digital Agency{% endblock %}

{% block extra_css%}<link rel="stylesheet" href="{% static 'css/case.css' %}">{% endblock %}

{% block content %}

<section class="grid-container">
    <div class="grid-item">
        <h1>{{ selected_case.title }}</h1>
        <h3>{{ selected_case.description }}</h3>
                <!-- Новый блок с метриками -->
        <div class="case-metrics">
            <div class="metric-item">
                <span class="metric-value">1,5 млн</span>
                <span class="metric-label">Продаж</span>
            </div>
            <div class="metric-item">
                <span class="metric-value">15%</span>
                <span class="metric-label">Рост конверсии</span>
            </div>
            <div class="metric-item">
                <span class="metric-value">2026 год</span>
                <span class="metric-label">Срок реализации</span>
            </div>
        </div>
    </div>
    <div class="grid-item">
        {% if selected_case.image %}
            <img src="{{ selected_case.image.url }}" alt="{{ selected_case.title }}" class="item-image">
        {% endif %}
    </div>
</section>
<section>
<!--    о компании-->
    <div class="about-title">о компании</div>
    <div class="grid-container-company">
        <div class="grid-item-company"></div>
        <div class="grid-item-company">
            <div><p>Компания существует с 2020 года и позиционирует себя как бренд люксового качества в среднем ценовом сегменте.</p></div>
            <p>Ее миссия — сделать стильные, эстетичные и качественные изделия доступными для большего числа людей, сохраняя при этом высокий уровень исполнения и честный подход к ценообразованию.Бренд придерживается прозрачной ценовой политики и не увеличивает стоимость продукции на необоснованные проценты.</p>
            <div class="grid-container">
                <div></div>
                <div><p>Цена каждого изделия формируется из затрат на индивидуальный пошив одним мастером, стоимости высококачественных тканей, логистики, аренды, налогов, а также фиксированной наценки в размере 30%. Такой подход не позволяет компании выходить на маркетплейсы и проводить массовые распродажи, однако обеспечивает честное отношение к клиентам и устойчивую экономическую модель.</p></div>
            </div>
            <div class="grid-item">
                {% if selected_case.image %}
                    <img src="{{ selected_case.image.url }}" alt="{{ selected_case.title }}" class="item-image">
                {% endif %}
            </div>
        </div>
        <div class="grid-item-company"></div>
    </div>
</section>

<!--    этапы-->
<section class="stages">
    <div class="stages-title"><h1>ЭТАПЫ</h1></div>
    <div class="grid-container-stages">
        <div class="stage-item">
            <span class="stage-title">ЗАДАЧА</span>
            <span class="stage-text">Создать e-commerce-сайт с нуля и выстроить удобный
                пользовательский путь, который повысит конверсию и упростит
                процесс покупки.
            </span>
        </div>
        <div class="stage-item">
            <span class="stage-title">РЕШЕНИЕ</span>
            <span class="stage-text">Разработали сайт с нуля: спроектировали структуру, навигацию
                и каталог товаров, выстроили пользовательские сценарии и
                оптимизировали UX под онлайн-продажи. Реализовали
                адаптивную версию и подготовили сайт к масштабированию.
            </span>
        </div>
        <div class="stage-item">
            <span class="stage-title">РЕЗУЛЬТАТ</span>
            <span class="stage-text">Запущен e-commerce-сайт, который стал эффективным каналом
                онлайн-продаж бренда.
            </span>
            <ul>
                <li>Конверсия в покупку выросла в 1,5 раза</li>
                <li>Снижение показателя отказов на 35%</li>
                <li>Увеличение вовлечённости пользователей на 40%</li>
            </ul>
        </div>
    </div>
</section>

<!--    результаты в цифрах    -->
<section>
    <div class="about-title">результат в цифрах</div>
    <div class="yellow-panel-1">
        <div class="result-card-1">+40–120%</div>
        <div class="panel-desc-1">рост лидов / заявок после редизайна и оптимизации конверсии</div>
    </div>
    <div class="yellow-panel-2">
        <div class="result-card-2">2–4×</div>
        <div class="panel-desc-2">увеличение времени на сайте благодаря правильному контенту и дизайну</div>
    </div>
    <div class="purple-panel">
        <div class="result-card-3">–40–70%</div>
        <div class="panel-desc-3">снижение отказов за счёт улучшения скорости и удобства</div>
    </div>
</section>

<!--    визуальные материалы-->
<section>
    <div class="visual-title">Визуальные материалы</div>
    <div class="grid-container-company">
        <div class="grid-item">
            {% if selected_case.image %}
            <img src="{{ selected_case.image.url }}" alt="{{ selected_case.title }}" class="item-image">
            {% endif %}
        </div>
        <div class="grid-item">
            {% if selected_case.image %}
            <img src="{{ selected_case.image.url }}" alt="{{ selected_case.title }}" class="item-image">
            {% endif %}
        </div>
        <div class="grid-item">
            {% if selected_case.image %}
            <img src="{{ selected_case.image.url }}" alt="{{ selected_case.title }}" class="item-image">
            {% endif %}
        </div>
    </div>
</section>

<!--    заявка-->
<section class="bid-case">
    <form action="{% url 'leads:submit_proposal' %}" method="POST" class="contact-form">
        {% csrf_token %}

        <div class="form-group">
            {{ lead_form.name }}
            {% if lead_form.name.errors %}
                <span class="error-text">{{ lead_form.name.errors.0 }}</span>
            {% endif %}
        </div>

        <div class="form-group">
            {{ lead_form.contact }}
            {% if lead_form.contact.errors %}
                <span class="error-text">{{ lead_form.contact.errors.0 }}</span>
            {% endif %}
        </div>

        <div class="form-group">
            {{ lead_form.message }}
            {% if lead_form.message.errors %}
                <span class="error-text">{{ lead_form.message.errors.0 }}</span>
            {% endif %}
        </div>

        <div>
            {{ lead_form.agreement }}
            <u>Я соглашаюсь на обработку персональных данных</u>
            {% if lead_form.agreement.errors %}
                <br><span class="error-text">{{ lead_form.agreement.errors.0 }}</span>
            {% endif %}
        </div>

        <button type="submit">
            <span>Отправить</span>
            <div></div>
        </button>
    </form>
</section>

{% endblock %}
