{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}S1 Digital Agency{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
<!--хедер, который будет везде-->
    <header>
        <nav class="nav-container">
            <div class="logo">
                <a href="{% url 'mainapp:index' %}">
                    <img src="{% static 'img/logo.png' %}" alt="S1">
                </a>
            </div>
            <ul class="nav-menu">
                <li><a href="{% url 'mainapp:about_us' %}">Кто мы</a></li>
                <li><a href="{% url 'projectapp:projects' %}" class="nav-btn">Наши проекты</a></li>
                <li><a href="{% url 'mainapp:services' %}">Услуги</a></li>
                <li><a href="#team">Команда</a></li>
                <li><a href="{% url 'blogapp:blog' %}">Блог</a></li>
				<li><a href="{% url 'mainapp:contacts' %}">Контакты</a></li>
            </ul>

            <div class="lang-switcher">
                <div class="lang-options">
                    <span>RU</span>
                    <span>EN</span>
                    <span>FR</span>
                    <span>DE</span>
                </div>
            </div>

            <button class="btn-contact">
                <img src="{% static 'img/call-calling.png' %}" alt="Связаться">
            </button>
        </nav>
    </header>

    <main>
        <!-- Сюда будет подставляться контент каждой страницы -->
        {% block content %}
        {% endblock %}
    </main>


<footer class="site-footer">
    <!-- Фоновые декоративные элементы -->
    <div class="footer-purple"></div>
    <div class="footer-bg-letter">S1</div>

    <!-- Основной контейнер сетки -->
    <div class="footer-grid-container">

        <!-- === СТРОКА 1 === -->
        <!-- Столбец 1: Компания -->
        <div class="grid-col">
            <div class="footer-title">Компания</div>
            <div class="footer-menu">
                <a href="{% url 'mainapp:services' %}">УСЛУГИ</a>
                <a href="{% url 'projectapp:projects' %}">ПРОЕКТЫ</a>
                <a href="{% url 'blogapp:blog' %}">БЛОГ</a>
                <a href="#">СТАЖИРОВКА</a>
            </div>
        </div>
        <!-- Столбец 2: Контакты -->
        <div class="grid-col">
            <div class="footer-title">КОНТАКТЫ</div>
            <a href="tel:+78125079366" class="footer-phone1">+7 (812) 507- 93-66</a>
            <a href="tel:+79959115700" class="footer-phone2">+7 (995) 911- 57-00</a>
        </div>
        <!-- Столбец 3: График работы -->
        <div class="grid-col">
            <div class="footer-title">График работы</div>
            <div class="footer-schedule-week">ПН-ПТ 10-00 - 19-00</div>
            <div class="footer-schedule-weekend">СБ, ВС - выходной</div>
        </div>
        <!-- Столбец 4: Наши адреса -->
        <div class="grid-col">
            <div class="footer-title">НАШИ АДРЕСА</div>
        </div>
        <!-- Столбец 5: Санкт-Петербург -->
        <div class="grid-col">
            <div class="footer-subtitle">САНКТ-ПЕТЕРБУРГ</div>
            <div class="footer-address-spb">Россия, г. Санкт-Петербург, ул.Большая Морская 43</div>
        </div>
        <!-- Столбец 6: Москва -->
        <div class="grid-col">
            <div class="footer-subtitle">МОСКВА</div>
            <div class="footer-address-msk">Россия, г.Москва, Спартаковская площадь 10.</div>
        </div>

        <!-- === СТРОКА 2 === -->
        <!-- Столбец 1: Юридическая информация -->
        <div class="grid-col row-2">
            <div class="footer-info-label">Информация:</div>
            <div class="footer-legal1">Пользовательское соглашение</div>
            <div class="footer-legal2">Политика конфиденциальности</div>
        </div>
        <!-- Столбец 2: Почта -->
        <div class="grid-col row-2">
            <div class="footer-email-label">ПОЧТА</div>
            <a href="mailto:hello@s-one.ru" class="footer-email">hello@s-one.ru</a>
        </div>
        <!-- Столбец 3: Соцсети -->
        <div class="grid-col row-2">
            <div class="footer-social-label">СОЦ СЕТИ</div>
        </div>

        <div class="grid-copyright">
            <div class="copyright">2026</div>
        </div>

<!--молния-->
        <div class="grid-splash">
            <img class="splash_white" src="{% static 'img/splash-white.png' %}" alt="lightning">
        </div>

    </div>
<!--    <div >-->
<!--&lt;!&ndash;        <img class="splash_white" src="{% static 'img/splash-white.png' %}">&ndash;&gt;-->
<!--    </div>-->
</footer>

</body>
</html>