{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}S1 Digital Agency{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
<!--хедер, который будет везде-->
    <header>
        <nav class="nav-container">
            <div class="logo"><a href="{% url 'mainapp:index' %}">S1</a></div>
            <ul class="nav-menu">
<!--заготовка под страницы-->
                <li><a href="{% url 'mainapp:about_us' %}">Кто мы</a></li>
                <li><a href="{% url 'mainapp:projects' %}">Наши проекты</a></li>
                <li><a href="{% url 'mainapp:services' %}">Услуги</a></li>
                <li><a href="#team">Команда</a></li>
                <li><a href="{% url 'mainapp:blog' %}">Блог</a></li>
				<li><a href="{% url 'mainapp:contacts' %}">Контакты</a></li>

            </ul>

            <div class="lang-switcher">
                <div class="lang-options">
                    <span>RU</span>
                    <span>EN</span>
                    <span>FR</span>
                    <span>DE</span>
                </div>
            </div>



            <button class="btn-contact">Связаться</button>
        </nav>
    </header>

    <main>
        <!-- Сюда будет подставляться контент каждой страницы -->
        {% block content %}
        {% endblock %}
    </main>

    <!-- футер, который будет везде -->
    <footer class="site-footer">
      <!-- Фоновый фиолетовый блок -->
        <div class="footer-purple"></div>

        <!-- Декоративная буква на фоне -->
        <div class="footer-bg-letter">S1</div>

        <!-- Заголовки разделов -->
        <div class="footer-title" style="left: 42.79px; top: 275px;">Компания</div>
        <div class="footer-title" style="left: 281.79px; top: 275px;">КОНТАКТЫ</div>
        <div class="footer-title" style="left: 504.79px; top: 275px;">График работы</div>
        <div class="footer-title" style="left: 734.79px; top: 275px;">НАШИ АДРЕСА</div>

        <!-- Подзаголовки адресов -->
        <div class="footer-subtitle" style="left: 964.79px; top: 277px;">САНКТ-ПЕТЕРБУРГ</div>
        <div class="footer-subtitle" style="left: 1201.79px; top: 277px;">МОСКВА</div>

          <!-- Меню -->
        <div class="footer-menu">
            <a href="{% url 'mainapp:services' %}">УСЛУГИ</a>
            <a href="{% url 'mainapp:projects' %}">ПРОЕКТЫ</a>
            <a href="{% url 'mainapp:blog' %}">БЛОГ</a>
            <a href="#">СТАЖИРОВКА</a>
        </div>

        <!-- Адреса -->
        <div class="footer-address-spb">Россия, г. Санкт-Петербург, ул.Большая Морская 43</div>
        <div class="footer-address-msk">Россия, г.Москва, Спартаковская площадь 10.</div>
        <!-- Телефоны -->
        <div class="footer-phone1">+7 (812) 507- 93-66</div>
        <div class="footer-phone2">+7 (995) 911- 57-00</div>

        <!-- График работы -->
        <div class="footer-schedule-week">ПН-ПТ 10-00 - 19-00</div>
        <div class="footer-schedule-weekend">СБ, ВС - выходной</div>

        <!-- Почта -->
        <div class="footer-email-label">ПОЧТА</div>
        <div class="footer-email">hello@s-one.ru</div>

        <!-- Соцсети -->
        <div class="footer-social-label">СОЦ СЕТИ</div>
        <div ><img class="splash_white" src="{% static 'img/splash-white.png' %}"></div>
        <!-- Юридическая информация -->
        <div class="footer-info-label">Информация:</div>
        <div class="footer-legal1">Пользовательское соглашение</div>
        <div class="footer-legal2">Политика конфиденциальности</div>

        <!-- Копирайт -->
        <div class="copyright">2026</div>
    </footer>
</body>
</html>