{% extends 'mainapp/base.html' %}

{% load static %}

{% block title %}S1 | Контакты {% endblock %}

{% block extra_css%}<link rel="stylesheet" href="{% static 'css/contacts.css' %}">{% endblock %}

{% block content %}

<div class="contacts-page">

    <!-- Жёлтый круг из Figma -->
    <div class="yellow-circle"></div>

    <!-- Главный заголовок -->
    <h1 class="main-title">КОНТАКТЫ</h1>

    <!-- Серый блок (левая часть) -->
    <div class="gray-block">
        <div class="logo-mask">
            <!-- Здесь логотип -->
        </div>
        
        <div class="addresses-block">
            <div class="title">АДРЕСА</div>
            <div class="text">Россия, г. Санкт-Петербург, ул.Большая Морская 43</div>
            <div class="text">Россия, г.Москва, Спартаковская площадь 10.</div>
        </div>

        <div class="schedule-block">
            <div class="title">График работы:</div>
            <div class="text">ПН-ПТ: 10:00-19:00 СБ, ВС (Выходной)</div>
        </div>

        <div class="email-block-left">
            <div class="title">E-MAIL</div>
            <div class="text">hello@s-one.ru</div>
        </div>

        <div class="phones-block-left">
            <div class="title">ТЕЛЕФОНЫ</div>
            <div class="text">+7 812 507-9366</div>
            <div class="text">+7 995 911-5700</div>
        </div>
    </div>

    <!-- Фиолетовый блок (правая часть) -->
    <div class="purple-block"></div>
    <div class="contact-us-text">Свяжитесь с нами</div>
    <div class="contact-us-bg">Свяжитесь с нами</div>
</div>
{% endblock %}
